{% extends 'base.html'%}

{% block content %}
<div class="container" style="font-size:xx-large;">
  <div class="row">
    <div class="col-md-3 marg2">
      <h3 class="text-center"> {{user.husband_name}} & {{user.wife_name}} </h3>

      <p> <strong>Groom ID: </strong> <em> {{user.husband_ID}} </em></p>
      <p> <strong>Bride ID: </strong> <em> {{user.wife_ID}} </em></p>

      {% if user == current_user %}
      <a href="{{url_for('main.update_profile',user_id = user.id)}}"> <button type="button" name="button" class="btn btn-success"> Edit Couple's Profile </button></a>
      {% endif %}
    </div>

    <div class="col-md-5 marg3">
      <div class="pictures" style="width: 100%;">
        {% if user.husband_pic_path %}
          <img src="{{url_for('static',filename=user.husband_pic_path)}}" alt="" class="img-thumbnail">
        {%else%}
          <p>No Husband's picture</p>
        {% endif %}

        {% if user.wife_pic_path %}
          <img src="{{url_for('static',filename=user.wife_pic_path)}}" alt="" class="img-thumbnail">
        {%else%}
          <p>No Wife's picture</p>
        {% endif %}
      </div>
  </div>

  <div class="col-md-4 marg">
    <a href="{{url_for('main.registrar',user_id = user.id)}}"> <button type="button" name="button" class="btn btn-warning"> View registrar certificate</button></a>
    <br><br>
    <a href="{{url_for('main.impediment',user_id = user.id)}}"> <button type="button" name="button" class="btn btn-warning"> Fill impediment form</button></a>
    <br><br>
    <a href="{{url_for('main.attestation',user_id = user.id)}}"> <button type="button" name="button" class="btn btn-warning"> View attestation certificate</button></a>
    <br><br>
    <a href="{{url_for('main.certificate2',user_id = user.id)}}"> <button type="button" name="button" class="btn btn-warning"> View Official marriage certificate</button></a>
    <br><br>
    <a href="{{url_for('main.impediment2',user_id = user.id)}}"> <button type="button" name="button" class="btn btn-warning"> View Impediment certificate</button></a>
    <br><br>
  </div>

  </div>
</div>
{% endblock %}
