{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container" style="font-size:large;">
  <form  action="{{url_for('main.update_pic',user_id=current_user.id)}}" method="post" enctype = "multipart/form-data" class="form-group">

    <label>Husband's Picture</label>
    <input type="file"  name="husband_photo" class="form-control" required>
    <br>
    <label>Wife's Picture</label>
    <input type="file"  name="wife_photo" class="form-control" required>
    <br>

    <button type="submit" class="btn btn-danger">Submit</button>
  </form>

  {{wtf.quick_form(form)}}
</div>
{% endblock %}
