body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: visible;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav, .subnav2 {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn , .subnav2 .subnavbtn2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn, .subnav2:hover .subnavbtn2 {
  background-color: red;
}

.subnav-content, .subnav-content2 {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a, .subnav-content2 a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content, .subnav2:hover .subnav-content2 {
  display: block;
}

.subnav2:hover .subnavbtn2, .subnav-content2 {
  background-color: green;
}

.subnav2 a:hover {
  background-color: green;
  color: white;
}

.subnav-content2 a:hover {
  background-color: #eee;
  color: black;
}

.subnav2 .subnavbtn2{
  padding: 4px 16px;
}

form, form input{
  text-align:center;
}

form .btn{
  background-color: red;
  color: white;
  font-weight:bold;
}
