body {
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZIBSh6v7W27au_cQpi39dVO9gCrXXgXt3D9asmlzdFBkfLdhC');
  background-size: cover;
  background-repeat:no-repeat;
  font-family: 'Kaushan Script', cursive;
  font-size:30px;
}

.navbar {
  overflow: visible;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav, .subnav2 {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn , .subnav2 .subnavbtn2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn, .subnav2:hover .subnavbtn2 {
  background-color: purple;
}

.subnav-content, .subnav-content2 {
  display: none;
  position: absolute;
  left: 0;
  background-color: purple;
  width: 100%;
  z-index: 1;
}

.subnav-content a, .subnav-content2 a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content, .subnav2:hover .subnav-content2 {
  display: block;
}

.subnav2:hover .subnavbtn2, .subnav-content2 {
  background-color: rgb(175, 127, 157);
}

.subnav2 a:hover {
  background-color:rgb(175, 127, 157);
  color: white;
}

.subnav-content2 a:hover {
  background-color: #eee;
  color: black;
}

.subnav2 .subnavbtn2{
  padding: 4px 16px;
}

form, form input{
  text-align:center;
}

form .btn{
  background-color: red;
  color: white;
  font-weight:bold;
}

@media only screen and (min-width: 812px) {

  .marg{
    padding-right: 20%;
    text-align: center;
  }
  .marg2{
    padding-left: 10%;
    text-align: center;
  }
  .marg3{
    padding-right: 10%;
    text-align: center;
  }
}

.side-line{
  float:left;
  clear:right;
}
.move-right{
  float:right;
  margin-left:500px;
}
h1,h2,h3{
  text-align:center;
  color:purple;
  text-decoration:underline;
}
#turn>a:hover{
  color:purple;
  box-shadow:5px 5px 5px purple;
}
a:hover> img{
  box-shadow:5px 5px 5px purple;
}
