{% extends 'base.html'%}
{% block content %}
<div class="container">
  <h1>VIEW FORM OF ATTESTATION</h1>
  <hr>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <h5> <strong>FORM No.2</strong> </h5>
    </div>

    <div class="col-md-6">
      <h5> <strong>(r.3)</strong> </h5>
    </div>
  </div>
  <h3>FORM OF ATTESTATION</h3>

  <p>Signed by the said {{notice.name}} on the {{notice.dd}} day of {{notice.mm}} 20{{notice.yy}},  this notice having been first read over to him (her) (or, read over and truly interpreted to him (her)) in the english language by Oa_Online app. He (She) seemed to understand the same and made his (her) mark thereto in my presence. </p>
  <br><br>
  <p>Signed: Oa_Online </p>
  <p>(Designation) E-Kenya Marriage app </p>
</div>
{% endblock%}
