{% extends 'base.html'%}
{% block content %}
<div class="container" style="font-size:large;">
  <h1>SIGN MARRIAGE CERTIFICATE</h1>
  <hr>
  <br><br>
  <h3>FIRST SCHEDULE -- <em>continued</em> </h3>
  <div class="row">
    <div class="col-md-4">
      <h5> <strong>FORM No.5</strong> </h5>
    </div>

    <div class="col-md-4">
      <p>[L.N 462/1963. Sch.]</p>
      <h4>CERTIFICATE OF MARRIAGE</h4>
    </div>

    <div class="col-md-4">
      <h5> <strong>(r.2)</strong> </h5>
    </div>
  </div>
  <br>

  <form class="marriage_form" action="{{url_for('main.certificate')}}" method="post" enctype = "multipart/form-data">
    No. {{certificate.id}}
    MARRIAGE solemnized at Oa_Online in the All District of the Region of Kenya.
    <table>
      <tr>
        <th>When married</th>
        <th>Name and surname</th>
        <th>Age</th>
        <th>Condition</th>
        <th>Occupation</th>
        <th>Residence at time of marriage</th>
        <th>Father's name and surname</th>
        <th>Father's occupation</th>
      </tr>
      <tr>
        <td> {{certificate.g_date}} </td>
        <td> {{certificate.g_name}} </td>
        <td> {{certificate.g_age}} </td>
        <td> {{certificate.g_condition}} </td>
        <td> {{certificate.g_occupation}} </td>
        <td> {{certificate.g_residence}} </td>
        <td> {{certificate.g_fname}} </td>
        <td> {{certificate.g_foccupation}} </td>
      </tr>
      <tr>
        <td> {{certificate.b_date}} </td>
        <td> {{certificate.b_name}} </td>
        <td> {{certificate.b_age}} </td>
        <td> {{certificate.b_condition}} </td>
        <td> {{certificate.b_occupation}} </td>
        <td> {{certificate.b_residence}} </td>
        <td> {{certificate.b_fname}} </td>
        <td> {{certificate.b_foccupation}} </td>
      </tr>
    </table>
    <hr>
    <p>Married in the Oa_Online <span>by Registrar's Certificate</span> by (or before) me <em>Oa_Online</em> </p>
    <p class="text-center">By License</p>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            This Marriage was solemnized between:
          </div>
          <div class="col-md-6">
            {{certificate.groom}}
            {{certificate.bride}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            In the presence of:
          </div>
          <div class="col-md-6">
            {{certificate.witness1}}
            {{certificate.witness2}}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p>Entered this {{certificate.date}} at the District Registry of Marriages at Oa_Online</p>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
{% endblock%}
