{% extends 'base.html'%}
{% block content %}
<div class="container" style="font-size:large;">
  <h1>CREATE IMPEDIMENT FORM</h1>
  <hr>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <h5> <strong>FORM No.7</strong> </h5>
    </div>

    <div class="col-md-9">
      <p>[L.N. 269/1966, s. 2.] </p>
      <h4>APPLICATION FOR impediment OF NO IMPEDIMENT TO MARRIAGE</h4>
    </div>
  </div>
  <br>

  <form class="impediment_form" action="{{url_for('main.impediment')}}" method="post" enctype = "multipart/form-data">
    <p>To the Registrar of Marriages for <em>Oa_Online</em> WHEREAS I wish to marry {{impediment.spouse}}>
    <p>at {{impediment.at}} </p>
    <p>in {{impediment.in_input}} </p>
    <p>NOW I hereby apply for the impediment of the Registrar-General that he is not aware of any legal impediment to the intended marriage.</p>
    <p>AND I hereby declare that I am not already married to any person whether under customary law or otherwise howsoever.</p>
    <p>My particulars are as follows:</p>

    <ol>
      <li>Surname {{impediment.surname}} </li>
      <li>Christian Name and Forename {{impediment.forename}} </li>
      <li>Country and Place of Birth (giving where applicable sublocation, location and district) {{impediment.country}} </li>
      <li>Date of Birth {{impediment.date}} </li>
      <li>Father’s full Name and Address (giving where applicable sublocation, location and district) {{impediment.father}} </li>
      <li>Sex {{impediment.sex}} </li>
      <li>Race {{impediment.race}} </li>
      <li>Religion {{impediment.religion}} </li>
      <li>Last Residence in Kenya {{impediment.residence}} </li>
      <li>Occupation {{impediment.occupation}} </li>
      <li>Condition, e.g., bachelor, widower, divorced person {{impediment.condition}} </li>
    </ol>

    <p>Witness my hand, this {{impediment.dd}}  day of {{impediment.mm}} 20 {{impediment.yy}} </p>

    <br><br>
    <p>Signature {{impediment.signature}} </p>

    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
{% endblock%}
