{% extends 'base.html'%}

{% block content %}
<div>
    <h1>WHO WE ARE</h1>
    <p>The world is digitalising in every aspect and the best being up to date with current affairs is healthy as per the circumnstances</p>
    <br>
    <p>That is where we come in.Young as we may be we ensure no aspect brings us down.</p>
    <ul>
        <li>Hussein Fuaad</li>
        <img src="https://cdn.pixabay.com/photo/2012/04/11/16/16/man-28739_960_720.png" height=300>
        <li>Lilian Muthoni</li>
        <img src="http://www.clker.com/cliparts/7/6/7/a/11954448741913331555FEN_bedroom_eyes.svg.hi.png" height=300>
        <li>Emma Kibore</li>
        <img src="https://banner2.kisspng.com/20180629/bov/kisspng-natalie-portman-clint-barton-black-widow-annihilat-natalie-portman-5b3604f21a5148.7334960115302668661078.jpg" height=300>
        <li>Eddy Yonnie</li>
        <img src="https://ecs7.tokopedia.net/img/cache/700/product-1/2018/1/1/0/0_cc0c9ee4-0311-41c5-84d5-87c1d24a6202_759_1012.jpg" height=300>
    
    </ul>
    <p>Empowered by a mega-technical institution as well as our grit ,we are the face of tommorrow.</p>
</div>
{% endblock %}
