{% extends 'base.html' %}

{% block content%}
<div class="container">
<div class="jumbotron jumbotron-fluid" id="jumbo">
                <div class="container">
                  <h1 class="text-left"><strong>FILE FOR A DIVORCE ONLINE</strong></h1>
                </div>
            </div>
            <a href="https://edivorce.org/"> <button class="btn btn-danger text-center" style="font-size: large; margin-left:300px;" >File for Divorce</button></a>
            <p>When two individuals exchange their vows befor God and men,the union is supposed to last until death parts them.However,in some cases one ofthem migth be a victim of inhuman and degrading mistreatment in the hands oftheir partner.In such cases,the laws courts have to intervene and put an end to the marriage union.Before been granted a divorce,the suffering party must prove to the courts.</p>
            <img src="https://previews.123rf.com/images/ayzek/ayzek1105/ayzek110500017/9522883-gavel-and-sound-block.jpg" height=450>
            <p>When you think about filing for divorce in Kenya, the first thing that tends to come to mind is a long process, lots of divorce papers and hassle. If you are considering an uncontested divorce you are already going through a difficult period, and the last thing you need is to prolong this even further. Luckily, thanks to Oa_Online you do not need to worry.</p>
            <p>Our mission is to make the whole process for you as simple as possible. You will receive all the forms you need to file for divorce thanks to our services. We want to help you go through your divorce as quickly and as effortlessly as possible, so that you can put your mind at ease and resume your life.<p>
            <p>Thanks to our online divorce forms system, everything you need is just a click away.Your divorce forms can be downloaded and printed, or can mailed to you. We also offer clear instructions and support as well. Sign Up and start your divorce process today.</p>
            <img src="https://imgix.bustle.com/uploads/image/2019/3/27/e4f6669f-d3e1-4cf8-9f73-467c6408d845-dmytro-zinkevych2fshutterstock.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70" height=450>



<div>
  {%endblock%}
