{% extends 'base.html'%}
{% block content %}
      <div class="container">
        <h1> Divorce</h1>
        <p>A divorce is a formal ending of a marriage. It's more permanent than a separation and involves a legal process. </p>
        <p>A divorce starts with a divorce petition. The petition is written by one spouse (the petitioner) and served on the other spouse. The petition is then filed in a state court in the county where one of the spouses resides. It does not matter where the marriage occurred. The petition includes important information regarding the marriage. It names the husband, wife and any children and states if there is any separate property or community property, child custody, and child or spousal support.

                <h1>Serving the Divorce Petitione</h1>
                
                The petition (or the divorce papers) must be served on the other spouse. This phase of the process is called "service of process." If both spouses agree to the divorce, the other spouse only needs to sign an acknowledgement of the receipt of service. However, if the other spouse refuses to sign or is difficult to locate, you can hire a professional process server to personally deliver the papers.

                Completing service of process starts the clock running on your state's waiting period. It also sets automatic restraining orders on the spouses and helps establish the date of separation. At this point, the spouses are not permitted to take any children out of state, sell any property, borrow against property, or borrow or sell insurance held for the other spouse.

                <h1>Divorce Petition Response</h1>

                The other spouse is known as the "respondent." Although it's not required, the respondent can file a response to the petition saying he or she agrees. Filing a response shows both parties agree to the divorce. This makes it more likely the case will proceed without a court hearing, which could delay the process and cost more. Generally, if a response is not filed within 30 days, the petitioner can request that a default be entered by the court. The responding spouse can also use the response to disagree with information presented in the petition.

              <h1>Final Steps of a Divorce</h1>

                Both spouses are required to disclose information regarding their assets, liabilities, income and expenses. If the divorce is uncontested and the spouses can agree on the terms of the divorce, there is only a bit more paperwork to file. Once the court enters the judgment, the divorce is final. However, the marriage is not formally dissolved and the spouses cannot remarry until the end of the state's waiting period. If there are disputes that cannot be resolved, court hearings and maybe even a trial will be required.
        </p>
      </div>
{% endblock %}
