{% extends 'base.html'%}
{% block content %}
    <body>
      <div class="container" style="font-size:40px;">
        <h1>Importance of marriage nd the documentations that come along with it.</h1>
        <p> <h1>Marriage marks a great beginning</h1>
                Marriage marks the beginning of the family. It is a life-long commitment that widens your horizons and the purpose of existence on this earth. It gives you an opportunity to be selfless as you will have to now take care of your spouse and children. Marriage is not just a physical union. It is also a spiritual as well as emotional bond. Hence you will find a kind of fulfillment when you get married.

                <h1>Promotes oneness</h1>
                When two people get married, they become one. Marriage is a superior bond than nothing else on the earth. It brings you your life’s partner and a teammate to move together in comradeship facing the challenges, excitements, disappointments, surprises and uncertainties of life. Finally now you have got someone to share your life.
                
                <h1>Brings in a higher purpose to your life</h1>
                Marriage opens up the gates to realizing a higher purpose to your life. You are now enjoined into a life that is tuned to realizing the objectives of each of the family members with you. You work for a larger goal and receive a greater satisfaction. The life seems to be more meaningful after marriage.

                <h1>The joy of parenting</h1>
                Parenting is a challenging, exciting and a joyful thing like nothing else. When you produce a child or adopt one, you receive the biggest blessing on the earth you can hope for. Children growing without a father or mother are most likely to be ill-equipped to face the world in the right way. When you have got kids in the family, you have got an opportunity to help a soul understand the world and learn how to live happily and successfully.
            </p>
      </div>
    </body>
{% endblock %}
