{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content%}
<div class="container">
        <div class="jumbotron jumbotron-fluid" id="jumbo">
                <div class="container">
                  <h1 class="text-left"><strong>Divorce Laws and Requirements</strong></h1> 
                </div>
                <hr>
            </div>
            <p>Different countries have a stipulated set of laws about divorce and rules governing the whole process.These laws are unique to that country and have to be satisfied so as to meet requirements for residency,reasons one has to file for a divorce and other factors.It only when such requirements are met that the divorce file will be viewed as legit.</p>
            
            
            <h1>Divorce laws</h1>
            <hr>
            <p>Divorce in Kenya is stipulated as the marriage act andit dictates how the diffrent forms of marriages should be dissolved.For the divorce to be granted,there are several requirements that should be met like:</p>
            <ul>
                <li>
                    For christian marriage,dissolution is permitted when one ofthe spouses engages in one or more adulterous acts and cruel mistreatmentwhich could be mental or physical,inflicted by other party and other petitioner or on the children if they have
                </li>
                <li>
                    Civil marriages can be dissolved three years after the celebration of marriage.The circumstances of divorce incivil marriages include infidelity,cruelty,desertion by a spouce for at least three yearsand exceptional wickedness by one spouce.
                </li>
                <li>
                    Divorce in customary marriage can be granted on the basis of adultery,abandonment,ill-treatment,exceptional depravity and permanent failure of the marriage.
                </li>
                <li>
                    Divorce in Islam is guided by Islamic law and the Sheikh,Imam or kadhi makes the final decree on the end of the marriage.
                </li>
            </ul>
            <h2><strong>Divorce Requirements</strong></h2>
            <hr>
            <ol>
                <li>
                    If one spouse is adulterous.
                </li>
                <li>
                    If one spouce is cruel t their partner or any of their kids in the marriage.
                </li>
                <li>
                    A marriage partner who intentonally neglects the other for at least two years immediately preceding the date of presentation ofthe petition.
                </li>
                <li>
                    A couple that has been seperated voluntary by court order for two years.
                </li>
                <li>
                    If one spouce gets sentenced for life imprisonment or for a term or more than seven years
                </li>
                <li>If one ofthe partnersin marriage suffers from an incurable form of insanity and it is provedby two physicians that they cannot be cured during their lifetimeusing the existing medical knowledge. </li>
            </ol>
            <h3>Custody of the children</h3>
            <p>Usually,no parent will gets the custody of the child.The custody of the child is determined based on different things.They include jointor individual custody.When all is said and done,the descion is always one that will be in the best interest of the child or children.The things to be concidered are:</p>
            <ul>
                <li>Health,safety and welfare of the child</li>
                <li>Nature and amount of contact with both parents</li>
                <li>Ability to provide for the child(not limited to financial support)</li>
            </ul>
            <p>An appraisal is conducted on the income of both the parents and is used in determinig how much the money will be needed for the child support.In some cases credit is given.Child support istaken fromthe wages of the parents. </p>
            <h4>Distribution of property</h4>
            <hr>
            <p>The distribution of property can be done in many ways. Often, different states will do their best to divide assets and property as equally as they can between the two parties and have property that one owned before getting into the marriage reverting back to the owner. Sometimes, there are exceptions to this. Circumstances can affect the distribution of such assets and property. A case like gifted monies or inheritances is divided between the two parties without consideration for the original recipient. Some states treat such cases differently however. The general rule guiding property distribution is to do so equally. In some cases though, some states distribute property communally.</p>
            <h5>Meditation</h5>
            <p>Either parties involved in the divorce can request for meditation to solve their problems if the divorce process has already begun.In some instance,this is necessary step before the process can begin.Before commencement of such a process,parties wishing to divorce can inform their mediators before time so that they can go into the whole process uncontested.The meditation process does not cost you much and is a speedy way of handling the whole divorce.It so happensthat both parties walk away from a meditation with more than if they had decided to go to courtroom</p>
            <img src="https://netstorage-tuko.akamaized.net/images/2ee10c85adb0d96d.jpg?imwidth=900">
                
</div>
{%endblock%}






















{%endblock%}
