<div class="navbar">
  <a href="#home">Home</a>
  <div class="subnav">
    <button class="subnavbtn">Learn About Marriages <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="{{url_for('main.types')}}">Types</a>
      <a href="{{url_for('main.importance')}}">Importance of the certificate</a>
      <a href="{{url_for('main.requirements')}}">Requirements</a>
      <a href="{{url_for('main.process')}}">Process</a>
      <a href="{{url_for('main.divorce')}}">Divorce</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Proceed to Marry <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <div class="subnav2">
        <button class="subnavbtn2"><a href="#bring">Civil</a><i class="fa fa-caret-down"></i></button>
        <div class="subnav-content2">
          <a href="#types">Create Notice</a>
          <a href="#importance">Conduct Marriage</a>
        </div>
      </div>
      <div class="subnav2">
        <button class="subnavbtn2"><a href="#bring">Religious</a><i class="fa fa-caret-down"></i></button>
        <div class="subnav-content2">
          <a href="#types">Christian Union</a>
          <a href="#importance">Muslim Union</a>
          <a href="#importance">Hindu Union</a>
        </div>
      </div>
      <div class="subnav2">
        <button class="subnavbtn2"><a href="#bring">Customary</a><i class="fa fa-caret-down"></i></button>
        <div class="subnav-content2">
          <a href="#types">Create Notice</a>
          <a href="#importance">Conduct Marriage</a>
        </div>
      </div>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Divorce <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Laws and Requirements</a>
      <a href="#link2">Divorce Process</a>
      <a href="#link3">Support and Custody</a>
    </div>
  </div>
  <a href="{{url_for('auth.logout')}}">About Us</a>
  {% if current_user.is_authenticated %}
    <a href="#contact">{{current_user.husband_name|truncate(5)}} & {{current_user.wife_name|truncate(5)}}</a>
    <a href="{{url_for('auth.logout')}}">Sign out</a>
  {% else %}
    <a href="{{url_for('auth.login')}}">Login</a>
    <a href="{{url_for('auth.register')}}">Register Couple</a>
  {%endif%}
</div>
