{% extends 'base.html' %}

{% block content%}
<div class="container" style="font-size:large;">
    <div class="jumbotron jumbotron-fluid" id="jumbo">
        <div class="container">
          <h1 class="text-left"><strong>Divorce Process</strong></h1>
        </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h1>Divorce Process</h1>
      </div>
      <div class="card-body">
        <p>The law permits married couples to dissolve their union,but it is long,tiring and expensive process given the high fees charged by divorce lawyers.As such,make sure that the marriage cannot be salvaged in any other way before embarking down this road.</p>
        <p>There are several determinig factors that will either speed up or slow down the process.There are several factors that the parties to the divorce can control while remain out of their control:</p>
        <ol>
          <li>Mandatory Waiting Time</li>
          <p>Divorce in Kenya is subjected to a mandatory waiting period where the two parties must live separately for some time before they can file for a divorce petition. Moreover, there is also another mandatory waiting period from the time one files the petition to when the court delivers judgment on your divorce case. According to law, the waiting period is anything between one month to three months or even one year in some cases. The waiting duration is crucial as it gives the couple room for mending their relationship thereby reducing unnecessary divorces. It also gives the spouses with children time to learn how to co-parent and develop proper arrangements to minimize on the negative effect of the separation on their children.</p>
          <li>Degree of conflict</li>
          <p>The next factor that determines how long your divorce will take is the amount of conflict surrounding the marriage dissolution. This is because if the two parties are in agreement and the divorce is uncontested, then finalization can be done immediately after the lapse of the mandatory waiting period. On the other end, if the spouses disagree on all issues like children custody, wealth division or child support, then the divorce process will take much longer.</p>
          <li>Complexity of the divorce.</li>
          <p>The other factor influencing the length of the divorce is the complexity of the divorce. That is whether there are some serious parenting complications, possession of significant assets and nationality problems surrounding the marriage dissolution. Here the courts have to take time to gather sufficient information so as to make the right judgment that favors both parties.</p>
        </ol>
      </div>
    </div><br>
    <div style="text-align: center" >
      <img src="http://www.vinotique.com/postpic/2015/02/divorce-certificate-template_168795.png" height="450">
    </div>



</div>

{%endblock%}
