<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>MARRIAGE PROCEDURES.</h1>
    
    <h3>Different types of marriages have Different procedures.Below are the procedures necessary for the various </h3>

    <h2>CIVIL MARRIAGE PROCEDURE.</h2>

    <P>The first step is to contact a civil marriage is filling a notice of marriage with the Office of the Registar General and waiting for up to 21days.A fee of 600KSH is charged for filling the notice.</P>
    <p>Upon the expiry of the 21-day waiting period, the couple can proceed to the next step.</p>
    <p>Have the marriage ceremony</p>
    <h5>a)	You will be required to pay Ksh 3,300, and after which you given a marriage date according to the official diary.
            b)	Upon picking the date, the marriage ceremony can either take place in the Registrar of Marriages, Deputy County Commissioners or Assistant County Commissioners offices.
            c)	During the ceremony before the couple repeats the vows after the registrar, they are asked to confirm their intention to get married.
            d)	After the vows have been exchanged three hard copies of the Marriage Certificate are given to the couple and their witnesses to sign.
            e)	The registrar signs all the copies of the marriage certificate as well and issues two of them to the couple. One of the certificates is retained by at the Attorney General’s Office.
            The total cost of this process is Ksh 3900</h5>


    <h2>CHRISTIAN MARRIAGE PROCEDURE.</h2>

    <P>The couple should inntroduce each other to their parents to allow their participation.</P>
    <p>Set a date for the parents to negotiate about the dowry.</p>
    <p>The couple should seek guiding and counselling from church.</p>
    <p>The couple get to know each others health status through blood testing that screens for any sexually transmitted diseases.</p>
    <p>Setting a date for the wedding after introductions and negotiations are done and a marriage certificate has been obtained from the registrar of marriages.</p>
    <p>The actual wedding where relatives and friends gather to celebrate with the couples.</p>
    <p>The priest(minister) conducts the whole ceremony</p>
    <p>Wedding vows and exchange of rings are done at the priest's directions.</p>


    <h2>MUSLIM MARRIAGE.</h2>

    <p>The most important formalities of a valid Muslim marriage are no so specific except for the offer and acceptance.The offer must be made and accepted in front of witnesses.</p>
    <p>The dowry is paid to the woman herself.</p>
    <p>There are three aspects surrounding Muslim marriages;</p>
    <h5>Legal-Legally, a Muslim marriage is seen as a contract which provides for certain requirements as regards consent, consequences for breach and since it is considered as a contract, the marriage can be enforced judicially.</h5>
    <h5>Social-Socially a Muslim marriage gives women the higher status in the society in terms of respect and acquiring dignity. </h5>
    <h5>Religious-The Muslim law allows polygamy but with certain restrictions. Under Muslim law, marriage is regarded as a sacred covenant encouraged according to the Koran by Prophet Mohammed.</h5> 
    <p>The actual marriage ceremony happens.</p>


</body>
</html>