{% extends 'base.html'%}

{% block content %}
<div class="container" style="font-size:large;">

  <h1 style="text-decoration: underline; color: black; font-size: xx-large;">MARRIAGE REQUIREMENTS.</h1>

  <p>Below are the various Requirements for different types of particular marriages to take place.Rules and Conditions apply. </p>

  <div class="card">
    <div class="card-header">
      <h1>LEGAL MARRIAGE</h1>
    </div>
    <div class="card-body">
      <p>Each person must be unmarried</p>
      <p>Each person must be atleast 18years or older.If either party is unser the age of 18 years of age,they can only get married if they have the written consent of their parent orlegal guardians,and when authorised by the court.</p>
      <p>The marriage can only take place if the couple are of different sex.</p>
      <p>Each person must be sane and  mentally capable of entering into a legally binding agreement.</p>
      <p>The couple must obtain a marriage license from a judge or clerk of a district authorising them to get married.The license is valid for a few days and must be returned to the county clerk within a certain number of days after the wedding ceremony.</p>
      <p>A blood test is required before a couple can receive a marriage license.</p>
      <p>There is a waiting period of one to six days after receiving a marriage licence before a couple can actually marry.</p>
      <p>A ceremony of some sort is required. The ceremony can be civil or religious and does not need to conform to any particular format.</p>
      <P>An officiant to oversee the wedding .Usually this is a clergyman or civil officer who can adminster an oath.</P>
      <P>One or two witnesses over the age of 18 are required to witness and sign the marriage certificates.</P>
      <p>Exchange of vows:There must be an exchange of promises.However,this does not have to follow any specific formart and can be whatever the couples decide on.</p>
      <p>Fee is Kshs. 9,700.00 if wedding is being conducted in the Registrar’s office and Kshs. 16,700.00 if the wedding will take place in a garden.</p>
    </div>
  </div><br>

  <div class="card">
    <div class="card-header">
      <h1>MUSLIM MARRIAGE</h1>
    </div>
    <div class="card-body">
      <h1 style="color: black; font-size: x-large;">The registration of Islamic marriages is governed by the Marriage Act, 2014. Rules for registration of Islamic marriages were gazzetted in December 2017 and the office is in the process of printing certificates and other forms before rolling out.</h1>

      <p>The intended couple should be aged 18 years and above</p>
      <p>Must be voluntary on the part of both parties.</p>
      <p>The couple should be of diffrent sex.</p>
      <p>The male party should not have more than four wives.</p>
      <p>Each person must be sane and  mentally capable of entering into a legally binding agreement.</p>
      <p>The cost of a certified marriage certificate copy is kshs. 1,100.00 and it takes 7 days process.</p>
    </div>
  </div><br>



  <div class="card">
    <div class="card-header">
      <h1>CHRISTIAN MARRIAGE</h1>
    </div>
    <div class="card-body">
      <P>Both parties must be of christian religion.</P>
      <p>The intended couple should be aged 18 years and above. </p>
      <P>The parties getting married should not be closely related.</P>
      <p>Must be voluntary on the part of both parties</p>
      <p>Each person must be sane and  mentally capable of entering into a legally binding agreement.</p>
      <p>A person may not get married if he or she is already married or in a registred patnership.</p>
      <P>Fee is Kshs. 14,200.00 if wedding is being conducted in a licensed place of worship and Kshs. 21,200.00 if the wedding takes place in a garden.</P>
    </div>
  </div><br>
</div>
{%endblock%}
