{% extends 'base.html'%}
{% block content %}
    <body>
      <div class="container" >
      background-repeat:no-repeat;">
      
        <h1>What are marriages </h1> 
        <p>The definition of the word marriage—or, more accurately, the understanding of what the institution of marriage properly consists of—continues to be highly controversial. This is not an issue to be resolved by dictionaries. Ultimately, the controversy involves cultural traditions, religious beliefs, legal rulings, and ideas about fairness and basic human rights. The principal point of dispute has to do with marriage between two people of the same sex, often referred to as same-sex marriage or gay marriage. </p>
        <h1>Types of marriages</h1>
        <ul>
            <Li><a href="https://en.wikipedia.org/wiki/Monogamy">Monogamy</a> </Li>
            <Li><a href="https://en.wikipedia.org/wiki/Polygamy">Polygamy</a> </Li>
            <Li><a href="https://en.wikipedia.org/wiki/Polygyny">Polygyny</a> </Li>
            <Li><a href="https://en.wikipedia.org/wiki/Polyandry">Polyandry</a> </Li>
            <Li><a href="https://en.wikipedia.org/wiki/Mormonism_and_polygamy">Plural marriage</a> </Li>
            <Li><a href="https://en.wikipedia.org/wiki/Child_marriage">Child marriage</a> </Li>
            <Li><a href="https://en.wikipedia.org/wiki/Same-sex_marriage">Same-sex and third-gender marriages </Li>
        </ul>
      </div>
    </body>
</html>
{% endblock %}